In [2]:
import pandas as pd
import re

skills = pd.read_csv('skills.csv')
texts = pd.read_csv('texts_about_skills.csv')
train = pd.read_csv('train.csv')

In [3]:
skills.head()

,skill_id,skill_name,skill_description
0,s0,Digitaalne kirjaoskus,Oskus mõista ja kasutada digitaalseid süsteeme...
1,s1,Analüüsioskus,Oskus dekonstrueerida infot väiksemateks üksus...
2,s2,Seadmete kasutamine ja käitamine,Oskus töövahendeid kasutada. Võime rakendada t...
3,s3,Juhistest ja nõuetest lähtumine,Oskus töö tegemiseks vajalikke juhiseid ja ree...
4,s4,Meeskonnatöö- ja koostööoskus,Oskus kollektiivi vajadustega ning ühise eesmä...

In [4]:
texts.head()

  text_id                                               text
0   text0  Võistlusülesande lahendamiseks vajalikud erial...
1   text1  Võistlusülesandena tuli elektroonikutel ettean...
2   text2  See on väga hea ja positiivne alus, kust kõrge...
3   text3  “Töövõtted ja ohutustehnika olid kõigil võistl...
4   text4  Enamasti on nendeks pigem eraisikud ja väikese...

In [5]:
train.head()

   text_id           skills
0  text202               s6
1  text267              s19
2   text60  s15 s20 s42 s48
3  text320           s13 s9
4  text200               s0

In [9]:
#joining text and skill names to one list
text_skills = []
trainlist = train.values.tolist()
for row in trainlist:
  id_text = int(re.findall('\d+', row[0])[0])
  text = texts['text'].values[id_text]
  skill_names = []
  if re.match('.+\s.+', row[1]):
    id_skills = re.split('\s', row[1])
    for id in id_skills:
      ids = int(re.findall('\d+', id)[0])
      if ids <= 13:
        skill_names.append(skills['skill_id'].values[ids])
      if ids > 13:
        skill_names.append(skills['skill_id'].values[ids-1])
  else:
    ids = int(re.findall('\d+', row[1])[0])
    if ids <= 13: #index is the same as skill id
        skill_names.append(skills['skill_id'].values[ids])
    if ids > 13: #after 13 index is 1 smaller than skill id
        skill_names.append(skills['skill_id'].values[ids-1])

  text_skills.append([text, skill_names])

In [10]:
#making that a dataframe
text_skills_df = pd.DataFrame (text_skills, columns = ['text', 'skill'])

In [34]:
# Skills column into 50 one-hot vectors
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer(sparse_output=True)
mlb = MultiLabelBinarizer()
text_skills_df = text_skills_df.join(pd.DataFrame(mlb.fit_transform(text_skills_df.pop('skill')),
                          columns=mlb.classes_,
                          index=text_skills_df.index))

In [36]:
text_skills_df.to_csv('texts_with_skills_one-hot.csv', sep='|', encoding='utf-8', index = False)